#tab {
    display: flex;
    padding-top: 2rem;

}

#tab2 {
    display: flex;
    padding-top: 2rem;
}

#firsttab {
    background-color: pink;
}

#secondtab {
    margin: 0rem 0 0 2rem;
    background-color: aqua;
}

#thirsttab {
    background-color: blanchedalmond;
}